@import url('https://fonts.googleapis.com/css2?family=Headland+One&family=Noto+Sans:ital,wght@0,100..900;1,100..900&family=Ysabeau+SC:wght@1..1000&display=swap');
@import url(./style/header.css);
@import url(./style/banner.css);

:root {
    --cor-de-fundo: #f5f5f5;
    --cor-de-fundo-destaque:rgb(240, 217, 240);
    --cor-gradiente: linear-gradient(97.54deg, #4b0247 35.49%, #d134bc 165.37%);
    --cor-de-titulo: rgb(247, 127, 227);
    --cor-de-fonte:rgb(41, 0, 39);
    --cor-secundaria:rgb(36, 11, 27);
    --cor-de-link: rgb(138, 17, 47);
    --branco: rgb(255, 255, 255);
    --preto: rgb(0, 0, 0);

    --fonte-primaria: "Headland One";
    --fonte-secundaria: "Noto Sans";
    --fonte-terciaria:"Ysabeau SC";
}

body {
    background-color: var(--cor-de-fundo);
    font-family: var(--fonte-primaria);
    font-size: 16px;
    font-weight: 400;
}