.banner {
    font-family: var(--fonte-secundaria);
    background: var(--cor-de-fundo);
    color: var(--cor-de-fonte);
    text-align: center;
}

.banner__pesquisa {
    background-color: transparent;
    border: 1px solid var(--cor-de-titulo);
    color: var(--cor-de-fonte);
    border-radius: 10px;
    padding: 1em;
    width: 100%;
    z-index: 2;
}

.banner__pesquisa::placeholder {
    font-family: var(--fonte-principal);
    font-size: 14px;
    font-weight: 400;
    text-align: center;
    color: var(--cor-de-fonte);
    background: url(../assets/pesquisa.svg) no-repeat;
    filter: invert(50%);
    background-position: 1em;
    background-size: 1.5em;
}

.swiper-slide img{
    width: 100%;

}
.texto-banner{
    background: var(--cor-de-fundo-destaque);
    margin-bottom: 1em;
}
.banner__texto{
    font-family: var(--fonte-secundaria);  
    color: var(--cor-de-fonte);  
    font-weight: 300;
    font-size: 20px;
    padding: 0 1em 1em;
    margin: 1em 0;
    text-align: center;
    z-index: 1;
    text-transform: uppercase;
}
.banner__texto-destaque{
    font-weight: 500;
}
.swiper-button-prev, .swiper-button-next{
    display: none;
}
.swiper-pagination{
    position: initial;
    margin: .5em 0;
    
}

@media screen and (min-width: 1024px) {
    .banner__pesquisa{
        width: 50%;
        padding: 1em;
        margin: 2em 0;
    }

    .banner__pesquisa::placeholder{
        background-position: 10em;
    }
    .banner__texto{
        background-color: var(--cor-de-fundo-destaque);
    }
    
    .card{
        width: 70%;
        height: 30%;
    }

}

@media screen and (min-width:1428px){
    .banner__pesquisa{
        width: 35%;
    }
    .banner__pesquisa::placeholder {
        font-size: 20px;
        background-position: 29em;
        color: var(--cor-de-link);
    }
    .container__banner-img{
        width: 100vw;
        height: 80vh;
    }
    .banner__texto{
        padding: 1em 15em;
        font-size: 26px;
    }
}