.cabecalho {
    display: grid; 
    background-color: var(--cor-de-fundo-destaque);
    justify-content: space-between;
    grid-template-columns: 1fr 1fr 1fr; 
    grid-template-rows: 0.5fr 1.7fr 0fr; 
    gap: 0px 0px; 
    grid-template-areas: 
        "destaque destaque destaque"
        "middle-header middle-header middle-header"
        "bottom-header__categorias bottom-header__categorias bottom-header__categorias"; 
    height: 100%; 
}

.destaque{
    grid-area: destaque;
    background-color: var(--cor-de-link);
    padding: 0.5em;
    text-align: center;
}
.destaque__negrito{
    font-weight: 500;
}
.destaque__pague{
    font-weight: 500;
    background-color: var(--cor-de-fundo-destaque);
    color: var(--preto);
}
.destaque__promocao{
    color: var(--branco);
    font-family: var(--fonte-secundaria);
    font-weight: 300;
    font-size: 12px;
    text-decoration: none;
}

/* MENU HAMBURGUER E BOTTOM HEADER CONTAINER */
.middle-header {
    display: grid; 
    grid-template-columns: 0.5fr 2fr 0.5fr; 
    grid-template-rows: 1fr 1fr 1fr; 
    gap: 0px 0px; 
    grid-template-areas: 
      "container-menu middle-header__logo middle-header__usuario"
      "container-menu middle-header__logo middle-header__usuario"
      "container-menu middle-header__logo middle-header__usuario"; 
    grid-area: middle-header; 

  }

.cabecalho__menu-hamburguer {
    width: 18px;
    height: 18px;
    background-image: url("/assets/menu.svg");
    background-repeat: no-repeat;
    background-position: center;
    display: inline-block;
}
.container__botao:checked ~ .container__rotulo > .cabecalho__menu-hamburguer{
    background-image: url("/assets/menu2.svg");
    filter: invert(100%);
}
.container__botao:checked ~ .container__rotulo{
    background: var(--cor-gradiente);
}

.container-menu {
    display: block;
    align-items: center;
    grid-area: container-menu;
}

.container__imagem {
    width: 30px;
    height: 30px;
    padding: 0.5em;
   

}
.container__imagem-perfil2{
    padding: 0;
    width: 22px;
    height: 22px;  
}
.meu-perfil {  
    background: var(--cor-de-fundo-destaque);
    text-transform: lowercase;
    font-family: var(--fonte-secundaria);
    text-decoration:none;
    color: var(--cor-de-fonte);
}

.lista-menu {
    position: absolute;
    display: none;
    width: 60vw;
    z-index: 3;
    padding-top: 0.5em;
}

.container__botao:checked~.lista-menu {
    display: block;
    
}

.lista-menu__titulo,
.lista-menu__item {
    padding: 1em;
    background: var(--cor-de-fundo-destaque);
}

.lista-menu__titulo {
    color: var(--cor-de-titulo);
    font-weight: 700;
}
.lista-menu__categorias{
    background-color: var(--cor-de-fundo-destaque);
    padding: 0.4em;
}
.lista-menu__link {
    color: var(--cor-de-fonte);
    text-decoration: none;
    text-transform: uppercase;
    padding: 0.5em;
}
.bottom-header__categorias { 
    grid-area: bottom-header__categorias; 
    background-color: var(--cor-de-fonte);
}

/* CONTAINER DO MEIO (LOGO E BOTOES DE USUARIO*/
.middle-header__logo { 
    grid-area: middle-header__logo;
    display: flex;
    align-items: center;
}
.middle-header__usuario {
     grid-area: middle-header__usuario;
     display: flex;
     align-items: center;
     justify-content: space-evenly;
}

.container__imagem-logo {
    width: 44px;
    height: 44px;
}
.container__imagem-compras{
    width: 40px;
    height: 40px;
   
}

.container__titulo, .container__titulo--negrito{
    font-family: var(--fonte-terciaria);
    color:var(--cor-de-titulo);
    font-size: 20px;
    display: inline-block;
    text-align: center
}
.container__titulo{
    font-weight: 400;
    margin-left: .5em;
}
.container__titulo--negrito{
    font-weight: 700;
}

.container__botao {
    display: none;
}

.opcoes{
    display: none;
}

.container__texto{
    display: none;
}
.container__imagem-perfil{
    display: none;
}
.header__pesquisa{
    display: none;
}
@media screen and (min-width: 1024px) {
    .header__pesquisa{
        display: block;
    }
    .cabecalho{
        grid-template-rows: 0.4fr 1fr 0.5fr;
    }
    .middle-header{
        grid-template-columns: 0fr 4fr 0.5fr;
        padding: 1em;
        align-items: end;
    }
    .middle-header__logo{
        display: grid; 
        grid-template-columns: 0fr 2fr 5fr 0fr;
        grid-template-rows: 0fr;
        gap: 0px 0px; 
        grid-template-areas: 
        "container__imagem-logo container__titulo banner__pesquisa"; 
      grid-area: middle-header__logo; 

    }
    .meu-perfil{
        display: none;
    }
    .cabecalho__menu-hamburguer{
        display: none;
    }
    .container__imagem-fav{
        display: none;
    }
    .opcoes__botao{
        display: none;
    }
    .container__imagem {
        padding: 0;
    }
    .container__imagem-logo{
        grid-area: container__imagem-logo;
        width: 60px;
        height: 60px;
        
    }
    .container__imagem-perfil{
        display: block;
    }
    .container__titulo, .container__titulo--negrito{
        font-size: 32px;
        text-align: justify;
        grid-area: container__titulo;
        
    }
    .container__titulo{
        padding: 0.4em 0 .1em 0em;
    }
    .container__titulo--negrito{
        padding-left: 0.2em;
    }
    .header__pesquisa{
         grid-area: banner__pesquisa;
         width: 100%;
         height: 70%;
         padding: 1em;
    }
    .middle-header__usuario{
        padding-bottom: 0.7em;
    }
    .container__banner{
        display: flex;
        align-items: center;
    }
    .opcoes{
        display: flex;
        list-style-type: none;
        justify-content: space-between;
        height: 80%;
        width: 100%;

    }
    .opcoes__item{
        padding: 0 1em;
        text-transform: uppercase;
        font-family: var(--fonte-secundaria);
    }
    .opcoes__item:first-child {
        margin-left: 8em;
    }
    .opcoes__item:last-child{
        margin-right: 8em;
    }

    .opcoes__link{
        text-decoration: none;
        color: var(--branco);
        white-space: nowrap;
        font-size: 14px;
    }
    
    .opcoes__botao:checked ~ .lista-menu{
        display: block;
        width: auto;
    }
    
    .opcoes__botao:checked ~ .opcoes__rotulo > .opcoes__item{
        background: var(--cor-gradiente);
        color: var(--cor-de-fonte);
    }
    .opcoes__item{
        padding: 2em 1em;
    }
    .opcoes__item:hover{
        background: var(--cor-gradiente);
    }
    .lista-menu__item:hover{
        background: var(--cor-gradiente);
    }
    
}

@media screen and (min-width: 1428px) {
    .destaque{
        margin: 0 8em;
    }

    .container__banner{
        display: flex;
        justify-content: center;
    }
   
    .meu-perfil{
        display: none;
    }
    .container__imagem-fav {
        display: block;
    }
   
    .container__texto{
        display: block;
        padding: .5em;
    }
    .container__titulo{
        padding: 0%;
    }
    .container__link{
        display: flex;
        align-items: center;
        text-decoration: none;
        color: var(--cor-de-fonte);
        margin-left: 1em;
        
    }
   
    .opcoes{
        margin-right: auto;
    }
    .middle-header{
        align-items:center;
        padding: 0 8em;
    }
    .middle-header__usuario {
        padding: 0 .5em;
    }

  
}